<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body> 
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Right side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                         <figure>
                            <img src="https://media.istockphoto.com/id/1061832540/photo/spooky-silhouette-in-hoodie-posing-before-camera-terror-and-criminal-fear.jpg?s=612x612&w=0&k=20&c=zq4poGukUg1XtC87AZaFRoSiRUZa3eI64k4YCBnpNpM=" alt="Image" class="img-fluid" title="Image">
                         </figure>
                    </div>
                    <!-- Left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather Website</p>
                        <h1>I Am A <span class="text_clr">MERN Stack Developer</span> Coder And A Hacker</h1>
                        <a href="YourPortfolio"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer --> 
    {{>footer}}
</body>
</html>